   <div *ngFor="let item of items" class="co-booknow col-m-12 col-4">
     <md-card>
       <md-card-subtitle>{{item.subtitle}}</md-card-subtitle>
        <md-card-title>{{item.title}}</md-card-title>

        <md-card-content>

           <p>{{item.content}}</p>
        </md-card-content>
          <img md-card-image src="{{item.url}}">
      <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
              <button md-button color="primary">BOOK NOW</button>
      </md-card-actions>

     </md-card>
   </div>
