<md-card>
  <md-card-content>
    <div  [style.visibility]="(iframeflag < 2) ? 'hidden' : 'visible' ">
     <md-card-subtitle>Subtitle first</md-card-subtitle>
     <md-card-title>Thanks for booking through NH47. Will contact you soon...  </md-card-title>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </div>
        <iframe [style.visibility]="(iframeflag > 1) ? 'hidden' : 'visible' " src="https://docs.google.com/forms/d/e/1FAIpQLSezqj9uqHk55obKoEw4rjtwGG_n-iU1Z0z_TEgnwjmbQmgAIQ/viewform?embedded=true" (load)="onloadgoogleform()" width="140%" scrolling="no" height="1140" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</md-card-content>
<md-card-actions>
</md-card-actions>

</md-card>
