.co-center{
  max-width:100%;
  .co-card{
    box-sizing: border-box;
    position: static;
    width:35%;
    padding: 20px;
    min-height:500px;
    margin-bottom: 100px;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
  }
}
